<div class="container">
  <div nz-row nzAlign="middle" nzJustify="center">
    <div nz-col>
      <p class="text-black text-bold">Selecione la sección</p>
    </div>
  </div>

  <div class="section-grade">
    <div class="mt-5" nz-row nzAlign="middle" nzGutter="28" nzJustify="center">
      <div nz-col class="gutter-row">
        <button class="btn-grade btn-contrast-color">Sección A</button>
      </div>

      <div nz-col class="gutter-row">
        <button class="btn-grade btn-contrast-color">Sección B</button>
      </div>
    </div>
  </div>
</div>
