@import "/src/variables.scss";

::ng-deep.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: $primary;
  font-weight: 500;
}

::ng-deep.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
  position: relative;
  display: inline-block;
  display: flex;
  flex: auto;
  align-self: stretch;
  overflow: hidden;
  white-space: normal;
  transform: translate(0);
}

::ng-deep.ant-tabs-tab {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 0 32px 0 0;
  padding: 12px 0;
  font-size: 14px;
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  text-align: center;
}

.w-100 {
  width: 100%;
}
.alert {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
}

.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  border: 1px solid transparent;
  margin-bottom: 1rem;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
}
