<div class="container">
  <div nz-row nzAlign="middle" nzJustify="center">
    <div nz-col>
      <p class="text-black text-bold">Selecione el grado</p>
    </div>
  </div>

  <div class="section-grade">
    <div class="mt-5" nz-row nzAlign="middle" nzGutter="28" nzJustify="center">
      <div nz-col class="gutter-row">
        <button (click)="selectGrade(1)" class="btn-grade btn-contrast-color">
          Primer Grado
        </button>
      </div>

      <div nz-col class="gutter-row">
        <button (click)="selectGrade(2)" class="btn-grade btn-contrast-color">
          Segundo Grado
        </button>
      </div>
    </div>

    <div class="mt-3" nz-row nzAlign="middle" nzGutter="28" nzJustify="center">
      <div nz-col class="gutter-row">
        <button (click)="selectGrade(3)" class="btn-grade btn-contrast-color">
          Tercer Grado
        </button>
      </div>

      <div nz-col class="gutter-row">
        <button (click)="selectGrade(4)" class="btn-grade btn-contrast-color">
          Cuarto Grado
        </button>
      </div>
    </div>

    <div class="mt-3" nz-row nzAlign="middle" nzGutter="28" nzJustify="center">
      <div nz-col class="gutter-row">
        <button (click)="selectGrade(5)" class="btn-grade btn-contrast-color">
          Quinto Grado
        </button>
      </div>

      <div nz-col class="gutter-row">
        <button (click)="selectGrade(6)" class="btn-grade btn-contrast-color">
          Sexto Grado
        </button>
      </div>
    </div>
  </div>
</div>
