<div nz-row nzAlign="top" nzJustify="end">
  <div nz-col>
    <button class="btn btn-primary add" (click)="addRow()">
      Agregar <i class="fas fa-plus-circle"></i>
    </button>
  </div>
</div>

<div class="mt-5">
  <nz-table #editRowTable nzBordered [nzData]="listOfData">
    <thead>
      <tr>
        <th *ngFor="let item of tableHeaders">{{ item }}</th>

        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of editRowTable.data" class="editable-row">
        <td>
          <div
            class="editable-cell"
            [hidden]="editId === data.id"
            (click)="startEdit(data.id)"
          >
            {{ data.grado }}
          </div>
          <input
            [hidden]="editId !== data.id"
            type="text"
            nz-input
            maxlength="1"
            [(ngModel)]="data.grado"
            (blur)="stopEdit()"
            onkeypress="return (event.keyCode != 32 && ( (event.keyCode >= 48) && (event.keyCode <=57) ))"
          />
        </td>
        <td>
          <div
            class="editable-cell"
            [hidden]="editId === data.id"
            (click)="startEdit(data.id)"
          >
            {{ data.anoEscolar }}
          </div>
          <input
            [hidden]="editId !== data.id"
            type="text"
            nz-input
            [(ngModel)]="data.anoEscolar"
            (blur)="stopEdit()"
          />
        </td>
        <td>
          <div
            class="editable-cell"
            [hidden]="editId === data.id"
            (click)="startEdit(data.id)"
          >
            {{ data.fechaInscripcion }}
          </div>
          <input
            [hidden]="editId !== data.id"
            type="text"
            nz-input
            [(ngModel)]="data.fechaInscripcion"
            (blur)="stopEdit()"
          />
        </td>
        <td>
          <div
            class="editable-cell"
            [hidden]="editId === data.id"
            (click)="startEdit(data.id)"
          >
            {{ data.nombre }}
          </div>
          <input
            [hidden]="editId !== data.id"
            type="text"
            nz-input
            [(ngModel)]="data.nombre"
            (blur)="stopEdit()"
          />
        </td>
        <td>
          <a
            nz-popconfirm
            nzPopconfirmTitle="¿Deseas eliminarlo?"
            (nzOnConfirm)="deleteRow(data.id)"
            >Eliminar</a
          >
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
