<nz-layout>
  <nz-header><nav-bar></nav-bar> </nz-header>
  <nz-layout>
    <nz-content class="content">
      <div class="container">
        <select-grade
          *ngIf="arraySteps[actualStep] === 'select-grade'"
          (next)="next()"
        ></select-grade>
        <select-section
          *ngIf="arraySteps[actualStep] === 'select-section'"
          (next)="next()"
          (back)="back()"
        ></select-section>
        <list-students
          *ngIf="arraySteps[actualStep] === 'list-students'"
          (next)="next()"
          (back)="back()"
        ></list-students>

        <details-students
          *ngIf="arraySteps[actualStep] === 'details-students'"
          (back)="back()"
        ></details-students>
      </div>
    </nz-content>
  </nz-layout>
  <nz-footer class="footer">Virgilio Pinzon</nz-footer>
</nz-layout>
