$primary: #2a3da6;
$primary-light: $primary;
$secodary: #fefe44;
$danger: #f93f2e;
$success: #0dc143;
$contrast_color: #ddc91c;
$contrast_color2: #efda23;
$base_gray_1: #707070;
$base_gray_2: #0000008c;
$base_gray_3: #00000099;
